<section>
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <div class="box">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <div class="field">
                <div class="control">
                  <input class="input is-large" autocomplete="on" formControlName="email" type="email"
                    placeholder="email" autofocus="">
                </div>
              </div>
            </div>
            <br>
            <div class="form-group">
              <div class="field">
                <div class="control">
                  <input class="input is-large" autocomplete="on" formControlName="password" type="password"
                    placeholder="password">
                </div>
              </div>
            </div>
            <br>
            <div class="form-group">
              <button class="button is-block is-dark is-large is-fullwidth">Login</button>
              <br>
              <a routerLink="/register">
                Registrieren
              </a>
              |
              <a routerLink="/resetpassword">
                Passwort widerherstellen
              </a>
              <br>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>