<div class="field is-grouped is-grouped-centered">

  <p class="control">
    <a routerLink="/products" class="button is-dark">
      Produkte
    </a>
  </p>
  <p class="control">
    <a routerLink="/merchandise" class="button is-dark">
      Merchandise
    </a>
  </p>
  <p class="control">
    <a routerLink="/shopping-cart" class="button is-dark">
      Warenkorb - {{shoppingCartService.getNumberOfCartItems()}}
    </a>
  </p>
  <p *ngIf="(authService.user | async); else notLoggedIn" class="control">
    <a routerLink="/orders" class="button is-dark">
      Bestellungen
    </a>
  </p>
  <p *ngIf="(authService.user | async); else notLoggedIn" class="control">
    <a routerLink="/user" class="button is-dark">
      Mein Konto - {{authService.getUserRole()}}
    </a>
  </p>
  <p *ngIf="(authService.user | async) && roleguardService.isAdmin(); else notLoggedIn" class="control">
    <a routerLink="/products/administration" class="button is-dark">
      Administration
    </a>
  </p>
  <p *ngIf="!(authService.user | async); else alreadyLoggedIn" class="control">
    <a routerLink="/login" class="button is-dark">
      Login
    </a>
  </p>
  <p *ngIf="(authService.user | async); else notLoggedIn" class="control">
    <a (click)="logout()" class="button is-dark">
      Logout
    </a>
  </p>
</div>