<section class="section">
  <div class="container">
    <div class="shoppingItem" *ngFor="let product of products | async">
      <br>
      <div class="columns">
        <div class="column">
          <h1 class="title is-4"><a routerLink="/product/{{product.id}}">{{product.name | uppercase}}</a></h1>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <slideshow autoPlay="true" [backgroundSize]="'center'" [showArrows]="false" [height]="'300px'"
            [imageUrls]="product.images"></slideshow>
          <strong>{{product.shortDescription | uppercase}}</strong>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <button [disabled]="product.amount <= 0" (click)="addToCart(product)" class="button shoppingButton">
            <p [hidden]="product.amount <= 0"><i class="fas fa-shopping-cart"></i> In den
              Warenkorb</p>
            <p [hidden]="!product.amount <= 0">Ausverkauft</p>
          </button>
        </div>
      </div>
      <br>
    </div>
  </div>
</section>