.shoppingItem {
    border-top: 1px solid #666666;
    border-bottom: 1px solid #666666;
    background-color: #ffffff;
}

.increaseButton{
    background-color: #437600;
    color:white;
}

.shoppingButton {
    color: white;
    background-color: #437600;
  }