<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Royal-High
      </h1>
      <h2 class="subtitle">
        Der Räucherbedarf für behinderte
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div style="text-align:center">
      <app-alert></app-alert>
      <app-navbar></app-navbar>
      <app-search></app-search>
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Über Royal-High</strong><br>
      <a href="https://google.de"> Impressum</a><br>
      <a href="https://google.de"> AGB</a><br>
      <a href="https://google.de"> Hilfe</a>
    </p>
  </div>
</footer>