<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Royal Highs
      </h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div style="text-align:center">
      <app-alert></app-alert>
      <app-navbar></app-navbar>
      <app-search></app-search>
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Über Royal-High</strong><br>
      <a routerLink="/impressum"> Impressum</a><br>
      <a routerLink="/agb">
        AGB
      </a><br>
      <a href="https://google.de"> Hilfe</a><br>
      <a routerLink="/contact">
        Kontakt
      </a><br>
      <a routerLink="/paymentinformation">
        Zahlungsinformationen
      </a>
    </p>
  </div>
</footer>