<section class="section">
  <div class="container">
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Produktname</label>
      </div>
      <div class="field-body">
        <input type="text" class="input" placeholder="Produktname">
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Produktmenge</label>
      </div>
      <div class="field-body">
        <input type="text" class="input" placeholder="Produktmenge">
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Produktbeschreibung</label>
      </div>
      <div class="field-body">
        <input type="text" class="input" placeholder="Produktbeschreibung">
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Produktbild</label>
      </div>
      <div class="field-body">
        <input type="text" class="input" placeholder="Produktbild">
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Produktpreis</label>
      </div>
      <div class="field-body">
        <input type="number" class="input" placeholder="Produktpreis">
      </div>
    </div>


    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Produktgröße</label>
      </div>
      <div class="field-body">
        <input type="string" class="input" placeholder="Produktgröße">
      </div>
    </div>
    <button type="submit" class="button is-dark" (click)="createProduct()">Produkt anlegen</button>
  </div>
</section>