<section class="section" *ngIf="selectedPriceAndSize">
  <div class="container">
    <p>{{product.name}}</p>
    <p>{{product.description}}</p>
    <p>Vorrat: {{getRemainingAmount(product.amount)}} stk.</p>
    <p>Preis: EUR {{getPrice()}}</p>
    <p>Verfügbare Größen:</p>

    <figure class="image is-128x128">
      <img src="{{product.image}}">
    </figure>

    <div class="field is-horizontal">
      <div class="field-body">
        <div class="select">
          <select [(ngModel)]="selectedPriceAndSize">
            <option [ngValue]="priceAndSize" *ngFor="let priceAndSize of product.priceAndSizes">{{priceAndSize.size}}</option>
          </select>
        </div>
      </div>
    </div>
    <p class="control">
      <button (click)="addToCart()" [disabled]="product.amount <= 0" class="button is-dark">
        <p [hidden]="!product.amount > 0">In den Warenkorb</p>
        <p [hidden]="!product.amount <= 0">Ausverkauft</p>
      </button>
    </p>
    <br>
    <div class="box" *ngIf="this.authService.getUserId()">
      <h1 class="title is-4">Bewertungen</h1>
      <form [formGroup]="ratingForm" (ngSubmit)="rate()">
        <div class="control">
          <label class="label">Rating</label>
          <input class="input" type="number" formControlName="rating" placeholder="Rating">
        </div>
        <br>
        <textarea formControlName="description" class="textarea" placeholder=""></textarea>
        <br>
        <button [disabled]="this.ratingForm.invalid || alreadyRated()" type="submit" class="button is-dark">Bewerten</button>
      </form>
    </div>
    <div class="box">
      <h1 class="title is-4">Bewertungen der anderen Benutzer {{totalRating()}}/5</h1>
      <div class="box" *ngFor="let rating of product.ratings">
        <textarea [disabled]="true" class="textarea" placeholder="">{{rating.rating}}/5: {{rating.description}}</textarea>
      </div>
    </div>
  </div>
</section>