<section class="section" *ngIf="selectedPriceAndSize">
  <div class="container">

    <figure class="image">
      <img src="../../../../assets/product-header.png">
    </figure>
    <div class="box">
      <div class="columns">
        <div class="column">
          <slideshow [backgroundSize]="'cover'" [showDots]="true" [dotColor]="'#437600'" [height]="'500px'" [imageUrls]="product.images"></slideshow>
        </div>
        <div class="column">
          <div class="columns">
            <div class="column">
              <h1 class="title">{{product.name | uppercase}}</h1>
              <i class="fas fa-star" *ngFor="let star of getRatingAsArray()"></i>
              <i class="fas fa-star zero" *ngFor="let star of getRatingAsArray(true)"></i>
            </div>
            <div class="column">
              <figure class="image is-128x128 logo">
                <img src="https://scontent-frt3-1.xx.fbcdn.net/v/t1.0-9/50000488_612223822566687_4486372732589572096_n.jpg?_nc_cat=101&_nc_ht=scontent-frt3-1.xx&oh=6e88b534d744f17cd0a6511c7b6ee587&oe=5CECC7D4">
              </figure>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <p style="text-align: left;"><i class="fas fa-check"></i> KOSTENFEIER VERSAND AB 50 EUR</p>
              <p style="text-align: left;"><i class="fas fa-check"></i> TELEFONISCHER SUPPORT</p>
              <p style="text-align: left;"><i class="fas fa-check"></i> SICHERE ZAHLUNG VIA SSL</p>
            </div>
            <div class="column">
              <p><strong>Artikel-Nr.: </strong>{{product.id}}</p>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <p><strong>Größe:</strong></p>
              <div class=" select">
                <select [(ngModel)]="selectedPriceAndSize">
                  <option [ngValue]="priceAndSize" *ngFor="let priceAndSize of product.priceAndSizes">{{priceAndSize.size}}</option>
                </select>
              </div>

            </div>
            <div class="column">
              <h1 class="title is-4">{{getPrice()}} €</h1>
              <p>inkl. MwSt. <a routerLink="/paymentinformation"><u>zzgl. Versandkosten</u></a></p>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <button (click)="addToCart()" [disabled]="product.amount <= 0" class="button shoppingButton">
                <p [hidden]="!product.amount > 0"><i class="fas fa-shopping-cart"></i> In den Warenkorb</p>
                <p [hidden]="!product.amount <= 0">Ausverkauft</p>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box productInformation">
      <p [innerHTML]="product.description"></p>
    </div>

    <div class="box" *ngIf="this.authService.getUserId()">
      <h1 class="title is-4">Bewerten</h1>
      <form [formGroup]="ratingForm" (ngSubmit)="rate()">
        <div class="control">
          <label class="label">Rating</label>
          <div class="select">
            <select class="ratingSelect" formControlName="rating">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
        <br>
        <textarea formControlName="description" class="textarea" placeholder=""></textarea>
        <br>
        <button [disabled]="this.ratingForm.invalid || alreadyRated()" type="submit" class="button shoppingButton">Bewerten</button>
      </form>
    </div>
    <div class="box">
      <h1 class="title is-4">Bewertungen der anderen Benutzer</h1>
      <i class="fas fa-star" *ngFor="let star of getRatingAsArray()"></i>
      <i class="fas fa-star zero" *ngFor="let star of getRatingAsArray(true)"></i>
      <br>
      <br>
      <div class="box" *ngFor="let rating of product.ratings">
        <textarea [disabled]="true" class="textarea" placeholder="">{{rating.rating}}/5: {{rating.description}}</textarea>
      </div>
    </div>
  </div>
</section>