<section class="section">
  <div class="container">

    <div class="box" *ngFor="let product of productService.merchandise | async">
      <article class="media">
        <div class="media-left">
          <figure class="image is-128x128">
            <img src="{{product.image}}" alt="Image">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <h1 class="title is-4"><a routerLink="/product/{{product.id}}">{{product.name}}</a></h1>
          </div>
        </div>
      </article>

      <p>{{product.shortDescription}}</p>
      <br>
      <nav class="level is-mobile">
        <div class="level-right">
          <button [disabled]="product.amount <= 0" (click)="addToCart(product)" class="button shoppingButton">
            <p [hidden]="product.amount <= 0"><i class="fas fa-shopping-cart"></i> In den
              Warenkorb</p>
            <p [hidden]="!product.amount <= 0">Ausverkauft</p>
          </button>
        </div>
      </nav>
    </div>
  </div>
</section>