<section class="section">
  <div class="container">
    <form [formGroup]="resetForm" (ngSubmit)="reset()">
      <div class="card">
        <div class="card-content">
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">E-Mail Adresse*</label>
            </div>
            <div class="field-body">
              <input type="email" formControlName="emailAddress" class="input" placeholder="">
            </div>
          </div>
          <div class="field is-horizontal is-centered">
            <re-captcha formControlName="recaptcha" siteKey="6Lel730UAAAAAHFoG1zZrpuGzdzptZpX1KGEVr0k"></re-captcha>
          </div>
          <button [disabled]="this.resetForm.invalid" type="submit" class="button is-dark">Email Senden</button>
        </div>
      </div>
    </form>
  </div>
</section>