<section class="section">
  <div class="container">

    <h1 class="title">FAQ</h1>

    <p><strong>Frage : Auftragsstatus und Bestellstatus einsehen</strong></p>


    <p>Antwort : In Ihrem Userinterface unter Meine Bestellungen können Sie jederzeit den Status ihrer Bestellung
      abrufen,
      egal ob per Nachnahme oder Vorkasse.</p>
    <br>

    <p><strong>Frage : Wie lange beträgt die Versandzeit?</strong></p>


    <p>Antwort : Die Versandzeit beträgt i.d.R. 2 Werktage aber kann durch die Deutsche Post bis zu 3-4 Werktagen
      dauern.
      Die
      Ware wird innerhalb 24 Stunden nach erhalt der Zahlung an einem Werktag versendet vorausgesetzt die Ware ist in
      dem
      Moment lieferbar.</p>
    <br>
    <p><strong>Frage : Probleme mit Konto oder bzw. Account</strong></p>
    <p>Antwort : Bei Problemen oder Fragen zu Ihrem Konto wenden Sie sich bitte an unseren Support. Hierzu haben Sie
      die
      Möglichkeit, in dem Bereich Kontakt wo Sie einen Kontaktformular ausfüllen können, dessen Status der Bearbeitung
      Sie
      auch in Ihrem Konto einsehen können.</p>
    <br>

    <p><strong>Frage : Wie hoch sind die Versandkosten?</strong></p>


    <p>Antwort : Die Versandkosten betragen 2,90 Euro für Raumdüfte in kleinen Mengen.
      Für Merchandise wie z.B T-Shirts oder Pullover 4,90 Euro.
      Bei der Zahlungsmöglichkeit Nachnahme beträgt der Versand mit Gebühr 6,90 Euro.</p>
    <br>

    <p><strong>Frage : Habe Ich ein Widerrufsrecht?</strong></p>


    <p>Antwort : Sie haben das Recht, binnen vierzehn Tagen ohne Angabe von Gründen diesen Vertrag zu widerrufen.
      Weitere
      Informationen zu Ihrem Widerrufsrecht finden Sie unter den AGBs.</p>
  </div>
</section>