<section class="section">
  <div class="container">
    <h1 class="title">
      Vielen Dank für Ihre Bestellung. Sie wird in kürze von unseren Mitarbeitern verarbeitet!
      Den Status Ihrer Bestellung können sie jederzeit unter 'Meine Bestellungen' einsehen.
    </h1>
    <div class="field is-grouped is-grouped-centered">
      <p *ngIf="(authService.user | async); else notLoggedIn" class="control">
        <a routerLink="/orders" class="button is-dark">
          Meine Bestellungen
        </a>
      </p>
    </div>
    <app-paymentinformation></app-paymentinformation>
  </div>
</section>