<section class="section">
  <div class="container">

    <h1 class="title">Zahlungsmöglichkeiten</h1>

    <p><strong>Nachnahme</strong></p>

    <p>Wir bieten unter anderem die Möglichkeit der Zahlung per Nachnahme an.
      Hierbei berechnen wir pro Bestellung 5,60 Euro zuzüglich Mehrwertsteuer ein.
      Die Vorteile für Sie als Kunde bestehen darin das Sie die Ware erst bei dem Paketboten zahlen und dazu die
      Möglichkeit der Sendungsverfolgung haben.
    </p>
    <br>
    <p><strong>Vorkasse</strong></p>

    <p>Als alternative bieten wir auch Vorkasse an.
      Der Betrag wird im Voraus an die von uns angegebenen Kontodaten mit Verwendungszweck überwiesen. Dabei wird die
      Ware erst Versendet wenn das Geld eingegangen ist. Leider können wir bei dieser variante keine Sendungsverfolgung
      anbieten da sonst die Versandkosten in die höhe getrieben werden.
    </p>
  </div>
</section>